Domus.xcodeproj/xcuserdata/andersonoliveira.xcuserdatad/xcschemes/Domus.xcscheme
Domus.xcodeproj/xcuserdata/Vinhote.xcuserdatad/
Domus/.DS_Store
Domus.xcodeproj/project.xcworkspace/xcuserdata/Vinhote.xcuserdatad/UserInterfaceState.xcuserstate
Condominus.xcodeproj/project.xcworkspace/xcuserdata/Vinhote.xcuserdatad/UserInterfaceState.xcuserstate
Condominus.xcodeproj/xcuserdata/Vinhote.xcuserdatad/xcdebugger/
Condominus.xcodeproj/project.xcworkspace/xcuserdata/Vinhote.xcuserdatad/UserInterfaceState.xcuserstate
